body{
    background-color: lightblue
}
center{
    font-family: 'Times New Roman', Times, serif;
    /* font-size: larger; */
    /* font-weight: 15;    */

    /* border: 2px solid black;
    border-radius: 10px; */
}